<div>

    <h1>
        <strong>Vehicle Auctions</strong>
    </h1>
    
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <mat-card *ngFor="let item of auctionDetails">
        <div>
            <img src={{item.associatedVehicle.vehicleImages[0].url}} width="300" />
        </div>
        <div class="item-info">
            <div style="padding-right: 2rem;">
                <h3><strong>Basic Informations:</strong> </h3>
                <p>
                    <label>Erstzulassung/EZ: </label>
                    <span>{{item.associatedVehicle.ez}}</span>
                </p>
                <p>
                    <label>Mileage: </label>
                    <span>{{item.associatedVehicle.mileageInKm}}</span>
                </p>
                <p>
                    <label>Fuel Type: </label>
                    <span>{{item.associatedVehicle.fuelType}}</span>
                </p>
                <p>
                    <label>Transmission: </label>
                    <span>{{item.associatedVehicle.transmission}}</span>
                </p>
            </div>
            <div style="margin: auto;">
                <p>
                    <label>Current Highest Bid Value: </label>
                    <span>{{item.currentHighestBidValue}}</span>
                </p>
                <p>
                    <label>Am I Highest Bidder?!: </label>
                    <span>{{item.amIHighestBidder ? 'Yes' : 'No'}}</span>
                </p>
                <p>
                    <label>remaining Time: </label>
                    <span>{{item.remainingTimeInSeconds}}</span>
                </p>
            </div>
        </div>
    </mat-card>

    <mat-paginator [length]="paginationLength" [pageSizeOptions]="[5, 10]" (page)="pageEvent($event)" *ngIf="originalAuctions.length">
    </mat-paginator>

    <p *ngIf="!isLoading && !originalAuctions.length">No Data Available</p>
</div>